.cast__container {
  margin-top: 30px;
  padding: 24px;
  border-radius: 10px;
  background-color: rgb(246, 136, 2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cast__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(49, 48, 48);
}

.cast__list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}
.cast__item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 30px * 5) / 5);
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;

  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: rgb(246, 136, 2);
  color: rgb(49, 48, 48);
}
.cast__item:hover,
.cast__item:focus {
  transform: scale(1.1);
}

.cast__itemTitle {
  font-size: 15px;
  margin-bottom: 5px;
}

.cast__itemCharacter {
  font-size: 15px;
}
.cast__img {
  width: 100vh;
  height: auto;
  border-radius: 10px;
}
