.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  flex-direction: column;
  background-color: rgb(49, 48, 48);
}

.moviesSection {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 48, 48);
}
.homeTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -30px;
  margin-bottom: -30px;
}
.movieItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 30px * 5) / 5);
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.movieItem:hover,
.movieItem:focus {
  transform: scale(1.1);
}

.movieItemTitle {
  font-size: 14px;
  font-weight: 700;
  color: rgb(246, 136, 2);
  width: 140px;
  text-align: center;
}

.release_date {
  font-size: 14px;
  font-weight: 700;
  color: rgb(246, 136, 2);
  text-align: center;
}
